<div class="contenedor">
  <div class="card" *ngFor="let item of productos">
    <h3 class="titulo">{{ item.nombre }}</h3>
    <p class="precio">{{ item.precio | currency: "EUR" }}</p>
    <h4 *ngIf="item.id === 'GR1'">PROMOCIÓN 2x1</h4>
    <h4 *ngIf="item.id === 'SR1'">
      Llevando 3 o más, el precio queda en
      {{ item.precioOferta | currency: "EUR" }}
    </h4>
    <h4 *ngIf="item.id === 'CF1'">
      Llevando 3 o más, el precio queda en
      {{ item.precioOferta | currency: "EUR" }}
    </h4>

    <input
      onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
      min="1"
      maxlength="9"
      type="number"
      name="cant"
      #cant
      value="1"
    />

    <button (click)="agregar(item, cant.value)">Agregar</button>
  </div>
</div>
