<!-- TABLA -->
<button
  (click)="goHome()"
  class="
    m-4
    px-4
    py-2
    transition
    ease-in
    duration-200
    uppercase
    rounded-full
    hover:bg-gray-500
    hover:text-white
    border-2 border-gray-900
    focus:outline-none
  "
>
  Volver
</button>
<div class="contenedor">
  <img src="../../../assets/pagado.png" alt="" class="pagado" *ngIf="pagado" />
  <table class="greyGridTable">
    <thead>
      <tr>
        <th>CANTIDAD</th>
        <th>PRODUCTO</th>
        <th>PRECIO UNITARIO</th>
        <th>PRECIO C/DESCUENTO</th>
        <th>PRECIO TOTAL</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Sin Descuento</td>
        <td>{{ totalSinDescuento | currency: "EUR" }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{{ totalAPagar | currency: "EUR" }}</td>
      </tr>
      <button
        (click)="pagar()"
        class="
          px-6
          py-2
          transition
          ease-in
          duration-200
          uppercase
          rounded-full
          hover:bg-gray-500
          hover:text-white
          border-2 border-gray-900
          focus:outline-none
          m-1
        "
      >
        COMPRAR
      </button>
    </tfoot>

    <tbody>
      <tr *ngFor="let item of productosFinal">
        <td>{{ item.cantidad }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.precio }}</td>
        <td>{{ item.precioOferta }}</td>
        <td>{{ item.total }}</td>
        <td>
          <h4 *ngIf="item.id == 'GR1' && item.cantidad % 2 == 0">
            Obtuviste un 2 x 1
          </h4>
          <h4 *ngIf="item.id == 'SR1' && item.cantidad >= 3">
            Te bajamos €0.5
          </h4>
          <h4 *ngIf="item.id == 'CF1' && item.cantidad >= 3">
            Obtuviste el 2/3 del precio
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>
