table.greyGridTable {
  /* border: 7px solid #ffffff; */
  width: 75vw;
  text-align: center;
  border-collapse: collapse;
  grid-area: area;
}
table.greyGridTable td,
table.greyGridTable th {
  border: 1px solid #ffffff;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(5) {
  background: #ebebeb;
}
table.greyGridTable thead {
  background: #ffffff;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 16px;
}

.contenedor {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  margin-top: 100px;
  grid-template-areas: "area";
}
.pagado {
  grid-column: 1;
  grid-row: 1;
  grid-area: area;
  justify-self: center;
  width: 30vw;
}
